h1{
    text-align: center;
    margin-left: 35%;
    width: 30%;
    margin-top: 10%;
    
}
button{
    text-align: center;
    margin-left: 30%;
    width: 30%;
    margin-top: 15%;
    font-size: xx-large;
    width: 40%;
    
}