<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <script src="script.js"></script>
	<link rel="stylesheet" href="stylesheets/navbar.css">
    <link rel="stylesheet" href="stylesheets/aboutUs.css">
    <script src="javascripts/login.js"></script>
</head>
<body>
	<div class="navigation">
        <label class="logo">Guard.Me</label>
        <nav>
            <ul>
                <li><a class="active" href="/">Home</a></li>
                <li><a href="/service">Services</a></li>
                <li><a href="/joinUs">Join us</a></li>
                <li><a href="/aboutUs">About us</a></li>
                <li><a href="/login">Log in</a></li>
            </ul>
        </nav>
    </div>
	<div class="login-box">
		<h1>Login</h1>
		<form>
			<label for="username">Username:</label>
			<input type="text" name="username" id="username" required>
			<label for="password">Password:</label>
			<input type="password" name="password" id="password" required>
			<button type="submit">Login</button>
		</form>
	</div>
    
</body>
</html>