* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    font-size: 15px;
    font-weight: 500;
    text-decoration: solid;
}


.firstBlock {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.secondBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.teamPhoto {
    width: 210px;
    height: 280px;
    display: flex;
    border-radius: 10px;
    margin: 30px;
    margin-right: 60px;
}

.intro {
    margin: auto;
    width: fit-content;
    background-color: rgb(178, 191, 255);
    padding: 5px;
    border-radius: 5px;
}

.intro h2 {
    text-align: center;
}

.mission {
    margin: 30px;
    width: 300px;
    background-color: rgb(255, 178, 249);
    padding: 5px;
    border-radius: 5px;
    float: right;
}

.mission h2 {
    text-align: center;
}

.services {
    margin: 30px;
    width: 300px;
    background-color: rgb(255, 178, 178);
    padding: 5px;
    border-radius: 5px;
}

.services h2 {
    text-align: center;
}

.team {
    margin: 30px;
    width: 300px;
    background-color: rgb(178, 255, 191);
    padding: 5px;
    border-radius: 5px;
    float: right;
}

.team h2 {
    text-align: center;
}

.values {
    margin: 30px;
    width: 93%;
    background-color: rgb(255, 232, 178);
    padding: 5px;
    border-radius: 5px;
}

.values h2 {
    text-align: center;
}