* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    font-size: 15px;
    font-weight: 500;
    text-decoration: solid;
}

.navigation {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2rem;
    font-family: Impact;
    font-weight: bold;
    color: rgb(10, 0, 86);
    padding-left: 0.4rem;
}

.navigation ul {
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 5px;
}

nav ul li a {
    color: #183A1D;
    font-size: 15px;
    padding: 7px 13px;
    border-radius: 5px;
    text-transform: uppercase;
}

.navigation a.active,
.navigation a:hover {
    background-color: lightblue;
    transition: 1.5s;
}



.slideshow-container {
    display: flex;
    width: 80%;
    height: 100%;
    position: relative;
    margin: auto;
}

img {
    width: 100%;
    height: auto;
}

.mySlides {
    overflow: hidden;
    border-radius: 10px;

}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0px 10px 10px 0px;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.2);
}

.next {
    right: 0;
    border-radius: 10px 0 0 10px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0px 2px;
    ;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.introText {
    width: 60%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 40px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 5px;
    padding: 5px;
    background-color: rgba(127, 255, 212, 0.059);
    text-align: left;
}

.flip-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}

.flip {
    width: 200px;
    height: 100px;
    background-color: #c6c3c35f;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    padding: 10px;
}

.testimonial-text {
    margin-top: 20px;
    text-decoration: underline green;
    font-size: 2rem;
    text-align: center;
}

.testimonials {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.testimonial {
    width: 210px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    background-color: #bbb;
}

.profilePicture {
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.nameOfReview {
    margin-top: 5px;
    text-align: center;
    font-family: monospace;
}

.stars {
    text-align: center;
}

.review {
    padding: 5px;
}

.footer {
    margin-top: 150px;
    width: 100%;
    padding: 60px 15%;
    background: #333;
    color: #efefef;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-decoration: none;
}

.footer div {
    text-align: center;
}

.footer div h3 {
    font-style: 'Popins', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}

.footer a:link,
.footer a:visited,
.footer a:hover,
.footer a:active {
    color: rgb(255, 202, 202);
    text-decoration: none;
}